/* account navbar hover item  */
.account-contents {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 150px;
}

.categories {
color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    font-family: Roboto, Arial, Helvetica;
}

.categories li:hover {
    text-decoration: underline;
}





.menu {
    list-style: none;
    display: flex;
    position: relative;
}

/* .mobile_menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 90px;
    left: 50%;
    font-size: 20px;
    gap: 15px;
    transition: left 0.5s;
} */

.menu-item {
    margin: 0 10px;
    font-size: 18px;
    font-weight: 600;
}

.menu-item a {
    text-decoration: none;
    color: #111111;
}






/* Style for the dropdown menu */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 150px;
}

.categories {
    list-style: none;
    padding: 10px;
}

.categories a {
    text-decoration: none;
    color: #020202;
    display: block;
    margin: 5px 0;
}

/* search icon  */