ul li a {
    text-decoration: none;
    transition: all ease o.3s;
    font-size: 16px;
}

ul li:hover {
    background: white;
    /* border: 1px solid #C94428;
    padding: 2px 10px;
    border-radius: 14px; */
}

.submenu_1 {
    display: none;

}

nav ul li:hover .submenu_1 {
    display: block;
    position: absolute;
    top: 20px;
    background-color: #fff;
    transition: all ease o.3s;
}

nav ul li:hover .submenu_1 li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px solid #000;
    color: #ee6a50;
    background: transparent;
    text-align: left;
}

nav ul li:hover .submenu_1 li:last-child {
    border: none;
}



.submenus {
    display: none;
}

/* every category */
.hover-me:hover .submenus {
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background-color: #fff;
    color: #ee6a50;
    transition: all ease o.3s;
}