@tailwind base;
@tailwind components;
@tailwind utilities;


/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {

    font-family: Roboto, Arial, Helvetica, sans-serif;
}

@layer {
    @import url("fonts/roboto/stylesheet.css");
    @import url(https://db.onlinewebfonts.com/c/33024f503b98e8c48e99476ac919ddd3?family=Sophisto+OT+W01+DGauge);
}

a {
    font-family: "Sophisto OT W01 DGauge";
}

li {
    font-family: "Sophisto OT W01 DGauge";
    font-size: 16px;
}

p {
    font-family: Roboto;

}