@tailwind base;
@tailwind components;
@tailwind utilities;



p,
h1,
h2,
h3,
li {
    color: #4B4F58;
}




.navfont {
    font-family: 'Open Sans', sans-serif;
}



* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Saira', sans-serif;
}

.saria {
    font-family: 'Saira';
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

img,
svg {
    vertical-align: middle;
}